.anime-page {
    background-color: #FFD4CA;
    color: #C33C54;
    display: flex;
    font-size: xx-large;
    height: 90vh;
    align-items: center;
    overflow: hidden;
}

.anime-title {
    font-size: large;
    color: white;
    text-decoration: none;
}

.anime-buttons {
    margin: 1em;
    background-color: #C33C54;
    border: 1px #C33C54 solid;
    font-size: medium;
    color: white;
    padding: 1em 2em;
    border-radius: 5px;
}

.anime-buttons:hover {
    background-color: #F7EDE2;
    color: #C33C54;
    border: 1px #C33C54 solid;
    cursor: pointer;
  }

.anime-img:hover {
    border: 1px white solid;
    box-shadow: 0px 0px 40px 20px whitesmoke;
    transform: scale(1.05, 1.05);
    cursor: pointer;
}
  
.attribute-button {
    margin: 1em;
    background-color: whites;
    border: none;
    color: #322E18;
    padding: 1em;
    border-radius: 5px;
}

.attribute-button:hover {
    border: 1px #CF6377 solid;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    border-radius: 3%;
    height: 80vh;
    width: 100vw;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.attributes-container {
    padding: 1em;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}