#discover-button {
    margin: 1em;
    background-color: #C33C54;
    border: 1px #C33C54 solid;
    font-size: medium;
    color: white;
    padding: 1em 2em;
    border-radius: 5px;
}

#discover-button:hover {
  background-color: #F7EDE2;
  color: #C33C54;
  border: 1px #C33C54 solid;
}

#empty-history {
    font-size: medium;
}

.anime-page {
    background-color: #FFD4CA;
    color: #C33C54;
    display: flex;
    font-size: xx-large;
    height: 90vh;
    align-items: center;
    overflow: hidden;
}

.anime-title {
    font-size: large;
}
  
.attribute-button {
    margin: 1em;
    background-color: whites;
    border: none;
    color: #322E18;
    padding: 1em;
    border-radius: 5px;
}

.attribute-button:hover {
    border: 1px #CF6377 solid;
}

.history-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 20vw;
    padding: 1em;
}

.history-container {
    background-color: #CF6377;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 30vw;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #CF6377 #F7EDE2 ;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}

.history-image {
    transform: scale(0.75, 0.75);
}

.main-container {
    border-radius: 3%;
    height: 80vh;
    width: 70vw;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.attributes-container {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}