#page-title {
    color: #CF6377;
}

.history-page {
    background-color: #FFD4CA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #CF6377 #F7EDE2 ;
}

.history-list {
    display: flex;
    flex-flow: row wrap;
    height: 80vh;
    padding: 0em 1em;
}

.history-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    padding: 1em;
    margin: 1em;
    border: #CF6377 1px solid;
    border-radius: 1em;
}

.history-item:hover {
    box-shadow: 0px 0px 40px 20px #CF6377;
    transform: scale(1.05, 1.05);
}

.history-image {
    transform: scale(0.75, 0.75);
}

.history-links {
    text-decoration: none;
    color: #CF6377;
}

.anime-title {
    color: #CF6377;
}