#main-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#home-buttons {
  display: flex;
  width: auto;
}

#char-button {
  margin-left: 1em;
}

.options-button {
  width: 10em;
  height: 4em;
  font-size: large;
  background-color: #6A0136;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 1em;
  text-align: center;
}

.options-button:hover {
  background-color: white;
  color: #322E18;
  border: 1px #322E18 solid;
}

.home-page {
  background-color: #FFD4CA;
  color: #322E18;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  height: 90vh;
  padding: 5em 3em;
}

.navbar {
  background-color: #A37A74;
  color: #322E18;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
}

.nav-link {
  padding: 1em;
  color: #322E18;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
}